# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.windsurf/

# Firebase credentials
*.json
!package.json
!package-lock.json

# OS
.DS_Store
Thumbs.db
